<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
<div id="app">
    <div text align="center">
        <h1 style="margin: 1em;" >LES DERNIERS ARTICLES</h1>
        <h3 style="margin-bottom: 1em; color: crimson">Choisir un auteur</h3>
        <div style="display: inline-block; margin: 1em;" v-for="author in authors">
            <div class="author-toggle">
                <input type="radio"
                       :id="author"
                       :value="author"
                       v-model="currentAuthor">
                <label :for="author">Auteur ID: {{ author }}</label>
            </div>
        </div>
        <div>
            <input style="text-align: center; width: 50%"
                   v-model="apiURL"
                   type="text"
                   @change="fetchData()"
                   placeholder="Ajoutez l'url du site">
        </div>
    </div>
    <div v-if="ready" class="card-columns p-4">
        <div v-for="post in posts">
            <div v-if="currentAuthor == post.author" class="card">
                <div class="card-body">
                    <img :src="post.img.guid.rendered" class="card-img-top" alt="...">
                    <h3 class="card-title" v-html="post.title.rendered"></h3>
                    <a :href="post.link" class="btn btn-danger" target="_blank">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>